<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.design.dao.AssistantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="graduation.design.entity.Assistant">
        <id column="id" property="id" />
        <result column="assistant_id" property="assistantId" />
        <result column="notice" property="notice" />
        <result column="homework" property="homework" />
        <result column="correct" property="correct" />
        <result column="answer" property="answer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, notice, homework, correct, answer, assistant_id
    </sql>

</mapper>
