<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.design.dao.SectionDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="graduation.design.entity.SectionDetail">
        <id column="id" property="id" />
        <result column="section_id" property="sectionId" />
        <result column="version" property="version" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, section_id, version, content
    </sql>

</mapper>
