<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.design.dao.StudentAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="graduation.design.entity.StudentAnswer">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="homework_id" property="homeworkId" />
        <result column="problem_id" property="problemId" />
        <result column="answer" property="answer" />
        <result column="correct" property="correct" />
        <result column="score" property="score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, homework_id, problem_id, answer, correct, score
    </sql>

</mapper>
