<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.design.dao.ToolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="graduation.design.entity.Tool">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="link" property="link" />
        <result column="num" property="num" />
        <result column="one" property="one" />
        <result column="two" property="two" />
        <result column="three" property="three" />
        <result column="four" property="four" />
        <result column="five" property="five" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, link, num, one, two, three, four, five
    </sql>

</mapper>
